#projects {
  height: 220vh;
}

.portfolio__header {
  padding-top: 3rem;
  font-size: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.portfolio__header h1 {
  font-family: 'Nanum Gothic', sans-serif;
}

.walkin img {
  height: 40rem;
  width: 75%;
  padding-left: 1rem;
  margin: 0 auto;
  border-radius: 2%;
}

.project__info {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  padding-top: 0.5rem;
}

.project__info__name__type h2 {
  font-size: 1.6rem;;
  margin-bottom: 0;
}

.project__info__name__type p {
  font-size: 0.8rem;
  opacity: 60%;
  margin-bottom: 0;
}

.project__description__stack {
  opacity: 60%;
  text-align: center;
  font-size: 0.8rem;
}

.project__description__stack p {
  margin-bottom: 0;
}

.project__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
}

.project__links p {
  font-weight: bold;
}

.project2 {
  margin-top: 4rem;
}

.airbroomnbroom img {
  height: 40rem;
  width: 75%;
  padding-left: 1rem;
  margin: 0 auto;
  border-radius: 2%;
}

.react-card-back {
  width: 100%;
  height: 713.27px !important;
}

.walkin-back, .airbroomnbroom-back {
  text-align: justify;
  width: 75%;
  margin: 0 auto;
  opacity: 60%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0px auto;
  border-radius: 5px;
}

.walkin-back p, .airbroomnbroom-back p {
  margin: 3rem 0;
}

.project__description__back {
  padding-top: 8rem;
  width: 75%;
  margin: 0 auto;
}

.active__project_link {
  border: 2px solid #AF8EF5;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.active__project_link:before {
  content: '';
  background: #AF8EF5;
  position: absolute;
  width: 0%;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.3s linear;
  z-index: -1;
}
.active__project_link:hover:before {
  width: 100%;
}

.active__project_link:hover {
  color: white !important;
}

/* ** MEDIA QUERY MEDIUM DEVICES *** */
@media screen and (max-width: 1024px) {
  #projects {
    height: 240vh;
  }

  .walkin img {
    height: 30rem;
    width: 72%;
    padding-left: 0 !important;
  }

  .airbroomnbroom img {
    height: 30rem;
    width: 72%;
    padding-left: 0;
  }

  .project__info__name__type h2 {
    font-size: 1rem;
  }

  .project__info__name__type p {
    font-size: 0.6rem;
  }

  .project__description__stack {
    font-size: 0.67rem;
  }

  .project__info {
    width: 72%;
  }

  .project__description__back {
    padding-top: 5rem;
    width: 80%;
  }

  .walkin-back p, .airbroomnbroom-back p {
    margin: 2rem 0;
  }

  .react-card-back {
    height: 531.52px !important;
  }

  .project__links {
    padding-top: 2rem;
  }
}


/* ** MEDIA QUERY SMALL DEVICES *** */
@media screen and (max-width: 600px) {
  #projects {
    height: 138vh;
  }

  .walkin img {
    height: 20rem;
    width: 80%;
    padding-left: 0 !important;
  }

  .airbroomnbroom img {
    height: 20rem;
    width: 80%;
    padding-left: 0;
  }

  .project__info__name__type h2 {
    font-size: 1rem;
  }

  .project__info__name__type p {
    font-size: 0.5rem;
  }

  .project__description__stack {
    font-size: 0.6rem;
  }

  .project__info {
    width: 80%;
  }

  .project__description__back {
    padding-top: 2rem;
    width: 80%;
  }

  .walkin-back p, .airbroomnbroom-back p {
    margin: 1rem 0;
  }

  .react-card-back {
    height: 368.79px !important;
  }

  .project__links {
    padding-top: 0;
  }
}
