section {
  margin-top: 8rem;
  height: 115vh !important;
}

.portfolio__header {
  padding-top: 7rem;
  font-size: 6rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  }

.portfolio__header h1 {
  font-family: 'Nanum Gothic', sans-serif;
}

.walkin img {
  height: 40rem;
  width: 75%;
  padding-left: 1rem;
  margin: 0 auto;
  border-radius: 2%;
}

.project__info {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-top: 0.5rem;
}

.project__info__name__type h2 {
  font-size: 1.6rem;;
  padding-left: 1rem;
  margin-bottom: 0;
}

.project__info__name__type p {
  font-size: 0.8rem;
  opacity: 60%;
  padding-left: 1rem;
  margin-bottom: 0;
}

.project__description__stack {
  opacity: 60%;
  text-align: center;
  font-size: 0.8rem;
}

.project__description__stack p {
  margin-bottom: 0;
}

.project__links {
  display: flex;
  flex-direction: row;
}

.project__links img {
  height: 2rem;
  width: 1.5rem;
  padding: 0px;
}

.project__links a {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem
}

.project__links a svg {
  font-size: 2rem;
}

.airbroomnbroom {
  padding-top: 4rem;
}

.airbroomnbroom img {
  height: 40rem;
  width: 75%;
  padding-left: 1rem;
  margin: 0 auto;
  border-radius: 2%;
}
