#about {
  height: 150vh;
}

.about__header {
  padding-top: 7rem;
  text-align: left;
  font-size: 1.5rem;
  width: 40%;
  margin: 0 auto;
}

.about__header h2 {
  font-family: 'Nanum Gothic', sans-serif;
}

.about__content {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
  opacity: 60%;
  width: 40%;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
}

.about__content > p {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.tech__stack__container {
  margin-top: 4rem;
}

.tech__stack__slider {
  height: 40vh;
}

.commit__header h2 {
  font-size: 6rem;
}

.react-activity-calendar {
  margin: 0 auto;
}

.commit__container {
  margin-top: 4rem;
}

/* .stack__header {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.stack__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 1.8rem 2rem;
}

.stack__icons img {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}

.stack__icons p {
  font-family: 'Lato', sans-serif;
  text-align: center;
} */

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  margin-right: 30px !important;
}
