#about {
  height: 100vh;
}

.about__header {
  padding-top: 7rem;
  text-align: left;
  font-size: 1.5rem;
  width: 40%;
  margin: 0 auto;
}

.about__header h2 {
  font-family: 'Nanum Gothic', sans-serif;
}

.about__content {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
  opacity: 60%;
  width: 40%;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
}

.about__content > p {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.tech__stack__slider {
  height: 40vh;
  margin-top: 4rem;
}

.commit__header h2 {
  font-size: 6rem;
}

.react-activity-calendar {
  margin: 0 auto;
}

.commit__container {
  margin-top: 4rem;
}

.marquee-container {
  height: 20rem;
}

.skill--box img {
  height: 11rem;
  width: 7rem;
  margin: 2rem;
}

#CSS {
  width: 8rem;
}

#HTML {
  width: 8.3rem;
}

#Ruby {
  width: 10rem;
}

#Rails {
  width: 20rem;
  height: 7rem;
}

#Git {
  width: 11rem;
}

#Figma {
  width: 13rem;
  height: 7rem;
}

#Javascript {
  width: 11rem;
}

#React {
  width: 9rem;
}

#PostgreSQL {
  width: 11rem;
}
