.contact__container {
  padding-top: 10rem;
  width: 70%;
  margin: 0 auto;
}

.contact__header h1 {
  font-size: 4rem;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contact__final {
  width: 22rem;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1rem;
  opacity: 60%;
  padding-bottom: 2rem;
}
