#contact {
  height: 100vh;
}

.contact__container {
  padding-top: 30rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.contact__header h1 {
  font-size: 4rem;
}

.contact__final {
  width: 22rem;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1rem;
  opacity: 60%;
}

.contact__final p {
  margin-bottom: 0.5rem;
}

#email {
  opacity: 60%;
  text-decoration: none;
  padding-left: 2.1rem;
}
