header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  height: 100%;
  position: relative;
}

.header__text__greeting h1 {
  padding-top: 16rem;
  font-size: 4rem;
}

.header__text h1 {
  font-size: 4rem;
  margin-top: 0px;
  padding-top: 0px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 5.5rem;
}

.header__about {
  width: 22rem;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.1rem;
  opacity: 60%;
}


/* ** MEDIA QUERY MEDIUM DEVICES *** */
@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }

  .header__text h1 {
    font-size: 2rem;
  }

  .header__text__greeting h1 {
    font-size: 2rem;
  }

  .header__about {
    font-size: 0.8rem;
  }

}


/* ** MEDIA QUERY SMALL DEVICES *** */
@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
   }

   .header__text h1 {
    font-size: 1rem;
  }

  .header__text__greeting h1 {
    font-size: 1rem;
  }

  .header__about {
    font-size: 0.4rem;
  }
}
