.footer__text {
  opacity: 40%;
  font-size: 0.8rem;
}

.footer {
  position: absolute;
  bottom: -233rem;
  width: 100%;
  text-align: center;
}

/* ** MEDIA QUERY MEDIUM DEVICES *** */
@media screen and (max-width: 1024px) {
  .footer__text {
    font-size: 0.8rem;
  }

  .footer {
    bottom: -197rem;
  }
}


/* ** MEDIA QUERY SMALL DEVICES *** */
@media screen and (max-width: 600px) {
  .footer__text {
    font-size: 0.6rem;
  }

  .footer {
    bottom: -174rem;
  }
}
